.task{
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color:aliceblue;
    border: none;
    margin-top: 15px;
    text-transform: capitalize;
    color: rgb(54, 51, 51);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.268);
  }
  
  .task h1{
    margin-left: 20px;
    text-decoration: none;
    white-space: nowrap; 
    width: 60%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    height: auto;
     
  }
  
  .btns{
    display: flex;
    flex-direction: row;
  }
  
  .task button{
    margin-right: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    padding-top: 6px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    border: none;
  }
  .done{
    background-color: rgb(181, 245, 188);
    color: green;
  }
  .done:hover {
    background-color: black;
  }
  
  .delete{
    
    color: red;
    background-color: rgba(255, 0, 0, 0.074);
  }
  
  .delete:hover {
    background-color: black;
  }
  